<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="keyValueFile" value="C:\Users\BSNLNIKHIL\Desktop\NIKHIL\Vanhack\pdfFillerKeysValues.txt" />
    <add key="xmlPDFFormFile" value="C:\Users\BSNLNIKHIL\Desktop\NIKHIL\Vanhack\PDFFormDetails.xml" />
    <add key="title" value="PDF Form Filler" />
    <add key="initialBrowseLoc" value="c:\" />
    <add key="browseFilter" value="PDF files (*.pdf)|*.pdf" />
    <add key="newPDFFileNameKey" value="EmployerBusinessLegalName" />
    <add key="xmlDataDescendantsMain" value="PDFFields" />
    <add key="xmlDataDescendantsField" value="PDFField" />
  </appSettings>
</configuration>